@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Rajdhani:wght@300;400;500;600;700&family=Rock+Salt&display=swap");

/* design tokens */
:root {
  /* modular scale */
  --step--3: clamp(0.745rem, 0.765rem + 0.0946vw, 0.9rem);
  --step--2: clamp(0.9113rem, 0.8922rem + 0.0951vw, 0.96rem);
  --step--1: clamp(1.0938rem, 1.0523rem + 0.2073vw, 1.2rem);
  --step-0: clamp(1.3125rem, 1.2393rem + 0.3659vw, 1.5rem);
  --step-1: clamp(1.575rem, 1.4579rem + 0.5854vw, 1.875rem);
  --step-2: clamp(1.89rem, 1.7129rem + 0.8854vw, 2.3438rem);
  --step-3: clamp(2.2681rem, 2.0098rem + 1.2915vw, 2.93rem);
  --step-4: clamp(2.7219rem, 2.355rem + 1.8341vw, 3.6619rem);
  --step-5: clamp(3.2656rem, 2.7537rem + 2.5598vw, 4.5775rem);
  --supertiny: 12px;

  /* colors */
  --color-white: hsla(0, 0%, 100%, 1);
  --color-black: hsla(120, 0.9%, 22.5%, 100%);
  --color-fly-out-menu-white: hsla(0, 17.6%, 96.7%, 100%);
  --color-fly-out-menu-background: hsla(0, 0%, 9%, 100%);
  --color-fly-out-menu-pink: hsla(6.6, 45.7%, 72.5%, 100%);
  --color-black-nav: hsla(120, 0.9%, 22.5%, 60%);
  --color-gray: hsla(120, 0.5%, 41.8%, 100%);
  --color-gray-light: hsla(120, 0.5%, 41.8%, 6%);
  --color-pink: hsl(8.3, 61%, 76.9%);

  /* borders */
  --border-width: 1px;
  --border-color: hsl(0, 0%, 92.9%);
  --border-radius-input: 50px;
  --border-radius-card: 0.5rem;

  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

  --measure: 60ch;

  /* static spacing */
  --padding-top-bottom: 4px;
  --padding-sides: 20px;

  --spacing-base: 1rem;
  --spacing-double: calc(2 * var(--spacing-base));

  --gutter: var(--spacing-base);

  /* fonts */
  --font-heading: "Rajdhani", sans-serif;
  --font-copy: "Open Sans", sans-serif;
}

/* keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-in {
  100% {
    opacity: 1;
    transform: none;
  }
}

/* animations */
.animate-pop-in {
  opacity: 0;
  animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) 0.4s forwards;
}

.animate-pop-in.animation-delay {
  animation-delay: 0.6s;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: inherit;
  line-height: var(--step-1);
  text-rendering: optimizeLegibility;
  transition: all 0.2s ease 0s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  scroll-snap-type: proximity;
  scroll-padding-top: 1rem;
  font-size: 100%;
}

body {
  font-family: var(--font-copy);
  color: var(--color-gray);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: 500;
  letter-spacing: 0.4rem;
  color: var(--color-black);
}

h1 {
  font-size: var(--step-1);
  line-height: var(--step-3);
  max-width: 20ch;
}

h2,
h3 {
  line-height: var(--step-2);
  font-size: var(--step-0);
  max-width: 30ch;
}

p,
a,
li {
  max-width: 60ch;
}

a {
  text-decoration-color: var(--color-pink);
  text-decoration: none;
}

li {
  list-style: none;
}

.list-step-number,
.price {
  color: var(--color-pink);
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: var(--step-3);
  letter-spacing: 0.4rem;
  line-height: var(--step-2);
}

li > h2 {
  margin-bottom: 0.325rem;
}

li > p {
  font-size: var(--step--2);
  color: var(--color-gray);
}

input {
  border-color: transparent;
  font-size: var(--step--2);
  border-radius: var(--border-radius--input);
  padding: var(--padding-top-bottom) var(--supertiny);
}

input:focus {
  outline: transparent;
}

button {
  color: var(--color-white);
  background-color: var(--color-pink);
  font-size: var(--step--2);
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--font-heading);
  letter-spacing: 0.2rem;
  border: transparent;
  border-radius: var(--border-radius-input);
  padding: var(--padding-top-bottom) var(--padding-sides);
}

address {
  font-style: normal;
}

.icon {
  display: inline-block;
  width: 3.25em;
  height: 3.25em;
  stroke-width: 0.5px;
  stroke: var(--color-white);
  fill: var(--color-white);
  background-color: var(--color-pink);
  border-radius: var(--border-radius-input);
  padding: 12px;
  cursor: pointer;
}

.icon-social {
  background-color: transparent;
  height: 3.5em;
  width: 3.5em;
  stroke-width: 0;
}

.icon-heart-pulse {
  display: inline-block;
  width: 3.25em;
  height: 3.25em;
  stroke-width: 0.5px;
  stroke: var(--color-white);
  fill: var(--color-white);
  padding: 12px;
}

.icon-arrow-up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 0%;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
