@keyframes slide_in {
  100% {
    opacity: 1;
    transform: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.6s;
  z-index: 1000;
}

.navbar_active {
  background-color: var(--color-black-nav);
  padding-top: 0.325rem;
  padding-bottom: 0.325rem;
}

.header * {
  color: var(--color-white) !important;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo .name {
  font-size: var(--step-0);
}

.header .nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: var(--padding-sides);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.header .nav .burger {
  width: 30px;
  height: 2px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-input);
  transition: all 0.3s ease-in-out;
}

.header .nav .burger::before,
.header .nav .burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-input);
  transition: all 0.3s ease-in-out;
}

.header .nav .burger::before {
  transform: translateY(-8px);
}

.header .nav .burger::after {
  transform: translateY(8px);
}

.header .nav.hamburger_menu_open .burger {
  transform: translateX(-8px);
  background-color: transparent;
}

.header .nav.hamburger_menu_open .burger::before {
  transform: rotate(45deg) translate(6px, -6px);
}

.header .nav.hamburger_menu_open .burger::after {
  transform: rotate(-45deg) translate(6px, 6px);
}

.fly_out_menu .fly_out_menu_logo .name {
  font-family: "Rock Salt", cursive;
  font-size: var(--step-1);
}

.fly_out_menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--color-fly-out-menu-background);
  border: none;
  width: clamp(300px, 90vw, 500px);
  height: 100vh;
  z-index: 2000;
  opacity: 0;
  transform: translateX(calc(100vw + 40rem));
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fly_out_menu.fly_out_menu_active {
  animation: slide_in 0.3s ease-in-out forwards;
}

.fly_out_menu .fly_out_menu_close {
  align-self: flex-end;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.fly_out_menu .fly_out_menu_close::before,
.fly_out_menu .fly_out_menu_close::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: var(--color-fly-out-menu-white);
  border-radius: var(--border-radius-input);
  pointer-events: all;
}

.fly_out_menu .fly_out_menu_close::before {
  transform: rotate(45deg) translate(8px, 8px);
}

.fly_out_menu .fly_out_menu_close::after {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.fly_out_menu .fly_out_menu_logo.flow > * + * {
  margin-top: calc(0.56 * var(--flow-space));
}

.fly_out_menu .fly_out_menu_logo {
  width: 100%;
  color: var(--color-fly-out-menu-white);
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;
}

.fly_out_menu .fly_out_menu_logo svg {
  stroke: var(--color-fly-out-menu-white);
  fill: var(--color-fly-out-menu-white);
  height: 4rem;
  width: 4rem;
}

.fly_out_menu .fly_out_menu_logo .name {
  color: var(--color-fly-out-menu-white);
}

.fly_out_menu .fly_out_menu_logo .copy {
  color: var(--color-gray);
  font-family: var(--font-copy);
  font-size: var(--step--2);
  text-align: center;
}

.fly_out_menu .fly_out_menu_logo .copy .link {
  color: var(--color-fly-out-menu-pink);
}

.fly_out_menu .fly_out_menu_body {
  flex-grow: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.fly_out_menu .fly_out_menu_footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  padding-bottom: 0;
}

.fly_out_menu .fly_out_menu_footer .heading {
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-size: var(--step-1);
  font-weight: 500;
  color: var(--color-fly-out-menu-white);
  letter-spacing: 0.25rem;
}

.icon {
  stroke: var(--color-white);
  fill: transparent;
}

a > .icon {
  background-color: transparent;
  height: 3.625rem;
  width: 3.625rem;
  stroke-width: 1px;
}
