.packages {
  background-color: var(--color-gray-light);
}

.packages_container {
  display: flex;
  gap: var(--gutter);
  flex-wrap: wrap;
  max-width: 100%;
}

.package {
  border-radius: var(--border-radius-card);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  flex-basis: 30%;
  flex-shrink: 0;
  flex-grow: 1;
  min-width: 18.75rem;
  max-width: 48rem;
  height: 100%;
}

.package_premium {
  border-style: solid;
  border-width: 4px;
  border-color: var(--color-premium);
}

.package_name {
  border-top-left-radius: var(--border-radius-card);
  border-top-right-radius: var(--border-radius-card);
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: var(--step-0);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-black);
  height: 8.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.package_body_container {
  display: flex;
  flex-direction: column;
  padding: calc(1.5 * var(--padding-sides)) var(--padding-sides);
}

.package_body_title {
  color: var(--color-black);
  font-weight: 500;
  font-family: var(--font-heading);
  font-size: var(--step-0);
  padding-bottom: 0;
}

.package_body {
  min-height: 17.5rem;
  flex-grow: 1;
}

.btn_select_package {
  max-width: fit-content;
}
