.packages {
  background-color: var(--color-gray-light);
}

.packages_container {
  display: flex;
  gap: var(--gutter);
  flex-wrap: wrap;
}

.package {
  border-radius: var(--border-radius-card);
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  flex-basis: 100%;
  flex-shrink: 1;
}

.package_name {
  border-top-left-radius: var(--border-radius-card);
  border-top-right-radius: var(--border-radius-card);
  padding: var(--padding-sides);
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: var(--step-0);
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-black);
}

.package_body {
  padding: calc(1.5 * var(--padding-sides)) var(--padding-sides);
}
